@mixin flex-center-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#Header {
  nav#HeaderNav {
    height: 70px;
    padding: 0px 15px;
    @include flex-center-all();
    .left_side,
    .right_side,
    .logo_link {
      @include flex-center-all();
    }
    button,
    a {
      cursor: pointer;
    }
    .btn_box {
      .nav_btn {
        border: none;
        outline: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        height: 40px;
        padding: 0 16px;
        border-radius: 16px;
        color: var(--red-button-bg-color);
        background: var(--red-button-text-color);
        margin-right: 15px;
      }
    }
  }
}
