@mixin flex-center-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#Header {
  background: var(--main-background-color);
  nav#HeaderNav {
    height: 70px;
    padding: 0px 15px;
    @include flex-center-all();
    .left_side,
    .right_side,
    .logo_link {
      @include flex-center-all();
      margin-left: 10px;
      font-size: 16px;
      font-weight: 600;
      margin-left: 10px;
      color: var(--main-text-color);
      text-decoration: none;

      img {
        margin-right: 10px;
      }
    }
    button,
    a {
      cursor: pointer;
    }
    .btn_box {
      
    }
    .toggle_btn {
      background: transparent;
      border: 0;
      outline: 0;
    }
  }
}
