header#Header {
  background: var(--main-background-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header#Header nav#HeaderNav {
  height: 70px;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 400px) {
  header#Header nav#HeaderNav {
    padding: 0px 5px;
  }
}

header#Header nav#HeaderNav .left_side,
header#Header nav#HeaderNav .right_side,
header#Header nav#HeaderNav .logo_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  color: var(--main-text-color);
  text-decoration: none;
}

@media (max-width: 768px) {
  header#Header nav#HeaderNav .left_side .name,
  header#Header nav#HeaderNav .right_side .name,
  header#Header nav#HeaderNav .logo_link .name {
    display: none;
  }
}

header#Header nav#HeaderNav .left_side img,
header#Header nav#HeaderNav .right_side img,
header#Header nav#HeaderNav .logo_link img {
  margin-right: 10px;
}

header#Header nav#HeaderNav button,
header#Header nav#HeaderNav a {
  cursor: pointer;
}

@media (max-width: 768px) {
  header#Header nav#HeaderNav .btn_box:not(.connect_btn) .name {
    display: none;
  }
  header#Header nav#HeaderNav .btn_box:not(.connect_btn) .nav_btn {
    background: var(--network-button-bg-color) !important;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  header#Header nav#HeaderNav .btn_box:not(.connect_btn) .nav_btn img,
  header#Header nav#HeaderNav .btn_box:not(.connect_btn) .nav_btn svg {
    margin-right: 0px;
  }
}

header#Header nav#HeaderNav .btn_box.dropdown_box {
  position: relative;
}

header#Header nav#HeaderNav .btn_box.dropdown_box .dropdown_box_list {
  position: absolute;
  top: calc(100%);
  background: var(--main-background-color);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header#Header nav#HeaderNav .btn_box.dropdown_box .dropdown_box_list a {
  color: var(--red-button-text-color);
  cursor: pointer;
  text-decoration: none;
  padding: 8px 12px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 4px;
}

header#Header nav#HeaderNav .btn_box.dropdown_box .dropdown_box_list a:hover {
  background: #f5f5f5;
  color: #363636;
}

header#Header nav#HeaderNav .btn_box.dropdown_box:hover .dropdown_box_list {
  opacity: 1;
  pointer-events: visible;
}

header#Header nav#HeaderNav .toggle_btn {
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--main-text-color);
}
/*# sourceMappingURL=Header.css.map */