aside#AsideBar {
  background: var(--main-background-color);
  color: var(--main-text-color);
  overflow: auto;
  height: 100%;
  position: fixed;
  top: 70px;
  left: 0px;
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  max-width: 200px;
  min-width: 200px;
  width: 200px;
}

aside#AsideBar .aside_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside#AsideBar .aside_list .aside_list_item {
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

aside#AsideBar .aside_list .aside_list_item .dropdown_list {
  display: none;
}

aside#AsideBar .aside_list .aside_list_item i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

aside#AsideBar .aside_list .aside_list_item i.active_icon {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

aside#AsideBar .aside_list .aside_list_item:active {
  background: #fff0f3;
}

aside#AsideBar .aside_list .aside_list_item .aside_list_action {
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  text-decoration: none;
  color: var(--text-color);
  opacity: 1;
  -webkit-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), margin 0.3s, color 0.3s;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), margin 0.3s, color 0.3s;
  -webkit-transition-property: opacity, margin, color;
  transition-property: opacity, margin, color;
  -webkit-transition-duration: 0.3s, 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s, 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease, ease;
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease, ease;
  -webkit-transition-delay: 0s, 0s, 0s;
          transition-delay: 0s, 0s, 0s;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
}

aside#AsideBar .aside_list .aside_list_item .aside_list_action img,
aside#AsideBar .aside_list .aside_list_item .aside_list_action svg {
  margin-right: 10px;
}

aside#AsideBar .aside_list .aside_list_item:hover .aside_list_action {
  color: #f95192;
}

aside#AsideBar .aside_control {
  height: 80px;
  width: 100%;
  bottom: 70px;
  left: 0px;
  position: absolute;
  padding: 16px 16px 8px;
  background: var(--main-background-color);
  z-index: 2;
}

aside#AsideBar .aside_control .flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside#AsideBar .aside_control .flex_box a {
  color: #f95192;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside#AsideBar .aside_control .flex_box a img {
  margin-right: 5px;
}

aside#AsideBar .aside_control .flex_box a:hover {
  color: #363636;
}

aside#AsideBar .aside_control .flex_box strong {
  color: var(---main-text-color);
  font-size: 13px;
  font-weight: 700;
}

aside#AsideBar .aside_control .flex_box_theme_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

aside#AsideBar .aside_control .flex_box_theme_control button {
  cursor: pointer;
}

aside#AsideBar .aside_control .flex_box_theme_control .light_theme {
  color: #f95192;
}

aside#AsideBar .aside_control .flex_box_theme_control.dark_theme_enable .light_theme {
  color: var(---main-text-color);
}

aside#AsideBar .aside_control .flex_box_theme_control.dark_theme_enable .dark_theme {
  color: #f95192;
}
/*# sourceMappingURL=AsideBar.css.map */