// .............................Global Styleing ..............

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
::selection {
  color: #fff;
  background: #f95192;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(105, 105, 105);
  border-radius: 8px;
}


html,
body,
nav {
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #faf9fa;
  --red-button-text-color: #f95997;
  --background-color: #faf9fa;
  --text-color: #222;
  --main-background-color: #fff;
  --main-text-color: rgba(0, 0, 0, 0.85);
  --main-border-color: #f0f0f0;
  --red-button-bg-color: #fdeaf1;
  --red-button-text-color: #f95997;
  --network-button-bg-color: #f3f3f4;
  --empty-text-color: rgba(0, 0, 0, 0.25);
  --divider-border: 1px solid #f0f0f0;
  --divider-color: #f0f0f0;
  --fade-text-color: rgba(0, 0, 0, 0.45);
  --placeholder-text-color: rgba(54, 54, 54, 0.3);
  --input-border: 1px solid #d9d9d9;
  --default-btn-text-color: #555;
  --default-btn-bg-color: #fff;
  --default-btn-border: 1px solid #d9d9d9;
  --alert-info-bg-color: #fff0f3;
  --alert-info-border: 1px solid #ffcfdc;
  --alert-warning-bg-color: #fffbe6;
  --alert-warning-border: 1px solid #ffe799;
  --alert-warning-text-color: #222;
  --progress-bg-color: #f5f5f5;
  --clock-text-color: #222;
  --disabled-bg: rgba(0, 0, 0, 0.1);
  --disabled-text-color: rgba(0, 0, 0, 0.3);
  --active-menu-item-bg: #fff0f3;
  --active-menu-item-text: #f95192;
  --alert-success-bg-color: #ebf8f2;
  --alert-success-border: 1px solid #e1f5eb;
  --alert-success-text-color: #5e6461;
  background: var(--bg-color);

  &.dark_theme_body {
    --background-color: #1e2122;
    --text-color: #c9c8c5;
    --main-background-color: #242525;
    --main-text-color: #c9c8c5;
    --main-border-color: #242525;
    --red-button-bg-color: #3b0619;
    --red-button-text-color: #e84d89;
    --network-button-bg-color: #1e2122;
    --empty-text-color: #c9c8c5;
    --divider-border: 1px solid rgba(0, 0, 0, 0.6);
    --divider-color: rgba(0, 0, 0, 0.6);
    --fade-text-color: #c9c8c5;
    --placeholder-text-color: rgba(198, 193, 185, 0.3);
    --input-border: 1px solid #383d3f;
    --default-btn-text-color: #919aa3;
    --default-btn-bg-color: #000;
    --default-btn-border: 1px solid #2a2e30;
    --alert-info-bg-color: #000;
    --alert-info-border: 1px solid #f95192;
    --alert-warning-bg-color: #242525;
    --alert-warning-border: 1px solid #ffd448;
    --alert-warning-text-color: #ffd448;
    --progress-bg-color: rgba(0, 0, 0, 0.6);
    --clock-text-color: #e84d89;
    --disabled-bg: rgba(0, 0, 0, 0.3);
    --disabled-text-color: hsla(0, 0%, 100%, 0.6);
    --active-menu-item-bg: #f95192;
    --active-menu-item-text: #feeaf1;
    --alert-success-bg-color: #113227;
    --alert-success-border: 1px solid #1e5b3d;
    --alert-success-text-color: #abb4ae;
    background: #1e2122;
  }
}
body {
  // variables .........

  // styling .......
  font-size: 14px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
// .............................Global Styleing ..............End

// ...........Section styling ..........
.section_wrapper {
  max-width: 1170px;
  margin: 0px auto;
  &.flex_section {
    display: flex;
  }
  .section_lg_grow {
    width: 100%;
    margin-right: 24px;
  }
  .section_sm_item {
    min-width: 380px;
  }
}
// ...........Section styling ..........End

// button styling
button {
  background: transparent;
  border: 0;
  outline: 0;
}
.nav_btn {
  border: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 40px;
  padding: 0 16px;
  border-radius: 16px;
  background: var(--red-button-bg-color);
  color: var(--red-button-text-color);
  margin-right: 15px;
  font-weight: bold;
  @media (max-width: 768px) {
    margin-right: 5px;
  }
  svg,
  img {
    margin-right: 5px;
  }
  &.nav_btn_light {
    background: var(--network-button-bg-color);
    color: var(--text-color);
    font-size: 14px;
  }
}

.form_action_btn {
  margin-top: 1rem;
}
.form_btn {
  border-color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 0.5rem;
  &.hidden_btn {
    color: var(--disabled-text-color);
    background: var(--disabled-bg);
  }
}
.text_alert {
  background-color: var(--alert-warning-bg-color);
  border: var(--alert-warning-border);
  color: var(--alert-warning-text-color);
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border-radius: 4px;
}

// form classes

.form_control {
  position: relative;
  margin-top: 1rem;
  .form_label,
  .input_control {
    display: block;
    padding-bottom: 0.5em;
  }
  .form_label {
    font-weight: 400;
  }
  .input_control {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4.5px 11px;
    color: rgba(0, 0, 0, 0.8509803921568627);
    font-size: 14px;
    line-height: 1.5715;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    background-image: none;
    border: var(--input-border);
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    &:focus {
      border-color: #f95192;
      box-shadow: 0 0 0 0.125em rgba(249, 81, 146, 0.25);
    }
  }
  .input_helper {
    position: absolute;
    right: 5px;
    bottom: 7px;
    color: #f95192;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
}

// ........custom tooltip..........

.custom_tooltip {
  position: relative;

  &::after {
    content: attr(data-tooltip-text);
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background: #3f3f3f;
    color: white;
    padding: 5px 8px;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
  }
  &::before {
    content: "";
    position: absolute;
    border: 8px solid;
    border-color: #3f3f3f transparent transparent transparent;
    bottom: calc(100% - 5px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
  }
  &:hover {
    &::after,
    &::before {
      opacity: 1;
    }
  }
}

// social list

.social_list {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.5rem 0px;
  > *:not(:last-child) {
    margin-right: 1rem;
  }
  .social_link {
    color: #f95192;
    cursor: pointer;
    svg {
      $s: 20px;
      width: $s;
      height: $s;
    }
    &:hover {
      color: #363636;
    }
  }
}

// link classes

.link_action_text {
  color: #f95192;
  text-decoration: none;
  &:hover {
    color: #363636;
  }
}
